body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 12px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #515a6e;
  overflow:hidden;
}
.more-search-icon{
  padding:5px 10px;
  border: 1px solid #dcdee2;
}
.table-opr-btn{
  padding:5px 5px;
}
table th a{
  color: #515a6e;
}
.color-success{
  color: #19be6b;
}
.color-error{
  color: #ed4014;
}
.margin-left-5{
  margin-left: 5px;
}
.margin-top-5{
  margin-top: 5px;
}
.margin-top-10{
  margin-top: 10px;
}
.margin-top-20{
  margin-top: 20px;
}
.margin-top-30{
  margin-top: 30px;
}
.clearfix{
  clear: both;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.font-size-12{
  font-size: 12px;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.drawer-class .ivu-drawer {
  width: auto;
  height: 100%;
  position: fixed;
  top: 0px;
}
.drawer-role-class {
  z-index: 1200;
}
.ivu-table .demo-table-info-row td{
  background-color: #ebf7ff;
}
.popTips-table{
  border-collapse: collapse;
  margin: 0 auto;
  text-align: left;
  font-size: 13px;
  width: 100%;
}
.popTips-table th{
  border: 1px solid #dddddd;
  padding:5px 10px;
  background: #f8f8f9;
}
.popTips-table td{
  border: 1px solid #dddddd;
  padding:5px 10px;
}
.term-modal-del-main .ivu-modal-header {
  border-bottom: 0px;
  padding: 14px 16px;
  line-height: 1;
}
.term-modal-del-main .ivu-modal-footer {
  border-top: 0px solid #e8eaec;
  padding: 12px 18px 12px 18px;
  text-align: right;
}
.term-modal-del-main .ivu-modal-body {
  padding: 6px 50px;
}
.drawer-index-class {
  z-index: 1200;
}
.draw-table .ivu-table-header thead tr th{
  padding:0px 0px;
}
